{% load compile_static %}
<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Timeclock</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link id="data-uikit-theme" rel="stylesheet" href="{{ STATIC_URL }}{% compile 'less/uikit.less' %}">
        <script src="{{ STATIC_URL }}js/jquery-1.11.3.min.js"></script>
        <script src="{{ STATIC_URL }}js/uikit.min.js"></script>
        <script src="{{ STATIC_URL }}js/components/autocomplete.js"></script>
        <script src="{{ STATIC_URL }}js/components/datepicker.js"></script>
        <script src="{{ STATIC_URL }}js/components/timepicker.js"></script>
    </head>
    <body>
        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="layouts_frontpage.html">Timeclock</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li>
                        <a href="layouts_frontpage.html">Events</a>
                    </li>
                    <li>
                        <a href="layouts_portfolio.html">Reports</a>
                    </li>
                </ul>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav uk-hidden-small">
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Timeclock</div>
            </nav>

            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>

        <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li>
                        <a href="layouts_frontpage.html">Events</a>
                    </li>
                    <li>
                        <a href="layouts_portfolio.html">Reports</a>
                    </li>
                    <li>
                        <a href="layouts_login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
